<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOAYkbQsG5G9ycUODscdMt3-HK3yVu0YI</string>
	<key>GCM_SENDER_ID</key>
	<string>506092231511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobilniZpevnik</string>
	<key>PROJECT_ID</key>
	<string>mobilni-zpevnik</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilni-zpevnik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506092231511:ios:db69b9fb5f0dc4b3537c12</string>
</dict>
</plist>